/*tamaño general de la ventana*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*crear variable para el comportamiento de dezplazamiento*/
:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
}

/*propiedades de los contenedor*/
.contenedor{
    width: 90%;
    max-height: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}
/*personalisando el encabezado*/
header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.534) 0%, #08080881 100%), url(../la_pagina_web/po\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.inicio {
    padding: 50px 0;
    left: 20px;
    top: 10px;
}

.inicio ul {
   position: absolute;
   top: 0;
   left: 0;
}

.inicio ul li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.inicio ul li a {
    color: #fff;
    text-decoration: none;
}

.inicio ul li a:hover {
    color: yellow;
    text-decoration: underline;
}

.inicio ul #menu {
    margin-right: 40%;
    margin-left: 100px;
}


.inicio ul #logo{
    position: absolute;
    top: 0;
    left: 0;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.buscador {
    position: absolute;
    top: 10%;
    left: 0;
    right: 10px;
    transform: translate(-50%,-50%);
}

input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid black;
    transition: all .7s ease; 
}

::placeholder {
    color: grey;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: black;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

.buscador:hover input {
    width: 350px;
}

.buscador:hover i {
    transform: rotate(-360deg);
}

.btn:hover {
    background: #000;
}

/*configurar el icono hamburgasa*/
.hamburger {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
/*configuracion menu principal*/
.menu_principal {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #191f38 0%, #9299a1 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3s ease-in-out;*/
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread {
    transform: translate(0);
}

.menu_principal a{
    color: #fff;
    text-decoration: none;
    
}

.menu_principal :hover{
    color: black;
}

.menu_registro {
    padding: 0;
    margin: 0;
}

.menu_registro a {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/*tamaño titulo*/
.titulo {
    font-size: 60px;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

/*espacios entre el texto*/
.copy {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}

/*subtitulos galeria*/
.subtitulo {
    text-align: center;
    font-weight: 300;
    color: black;
    margin-bottom: 15px;
    font-size: 60px;
}

/*tamaño de la vetana*/
.contenedor_servicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*tamaño imagen servicio*/
.contenedor_servicio img {
    width: 40%;
}

/*listado de servicios ubicar a la RH*/
.checklist_servicio {
    width: 45%;
}

/*tamaño subtitulos servicios*/
.service {
    margin-bottom: 20px;
}


/*color subtitulos servicio*/
.n_service {
    margin-bottom: 7px;
    color: black;
}

/*persolanizas los numero de servicion*/
.number{
    display: inline-block;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.534) 0%, #08080881 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*diseño de fondo galeria*/
.gallery {
    background: #f2f2f2;
}

.contenedor_galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*ordenando imagenes de galeria*/
.img_galeria {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.gallery img {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.container-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}

.move {
    transform: translateX(0);  
}

.img-show {
    height: 80%;
    display: block;
    object-fit: cover;
}

.copyl {
    position: fixed;
    color: #fff;
    bottom: 40px;
}

.bx.bx-x {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

.show {
    transform: translate(0);
}

.showImage {
    transform: scale(1);
}


.experts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont_expert {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont_expert img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n_expert {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*FOOTER*/

footer {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #fff;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: #fff;
    color: black;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*adaptar a dispositivos moviles*/

@media screen and (max-width:800px) {
    .menu_principal {
        width: 50vw;
    }

    .titulo {
        font-size: 40px;
    }

    .contenedor_servicio img {
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist_servicio {
        width: 80%;
    }

    .service {
        margin-bottom: 30px;
    }

    .agregar-imagen {
        width: 80%;
    }

    .img_galeria {
        width: 45%;
    }

    .cont_expert {
        width: 80%;
    }

    .footer-content {
        justify-content: center;
    }

    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon {
        margin-left: 0;
    }

    .social-media i {
        margin-left: 0;
    }

    .contact-us {
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px) {
    .menu_principal {
        width: 65vw;
    }

    .hamburger {
        top: 20px;
        right: 20px;
    }

    .titulo {
        font-size: 30px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .agregar-imagen {
        width: 95%;
    }

    .img_galeria {
        width: 95%;
    }

    .social-media {
        width: 100%;
    }

    .contact-us {
        width: 90%;
    }
}